*{
    padding: 10px;
}
.family {
    background: url('../img/photo_2022-06-19_12-10-11.jpg')center center/cover no-repeat;
}
h1 {
    display: block;
    text-align: center;
    color: white;
}

h3 {
    display: block;
    text-align: center;
    color: white;
}
.main_photo {
    display: block;
    margin: 0 auto;
    height: 600px;
    width: 800px;
}